{:paths ["src", "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        com.google.javascript/closure-compiler-unshaded {:mvn/version "v20230103"}
        metosin/malli {:mvn/version "0.12.0"}
        s-expresso/rubberbuf {:git/url "https://github.com/s-expresso/rubberbuf.git"
                              :git/sha "639eae93fa5e6c15d227e3293954c312c18b96ef"
                              :git/tag "v0.1.5"}
        s-expresso/clojobuf-codec {:git/url "https://github.com/s-expresso/clojobuf-codec.git"
                                   :git/sha "dcd306b4c0830814a9b4eac297bf76d2933895cf"
                                   :git/tag "v0.1.2"}}
 :aliases {:test {:extra-paths ["test"]
                  ;:patterns [".*"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           ; clojure -M:test:cljs to run cljs tests
           :cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                  :main-opts ["-m" "cljs-test-runner.main"]}
           :shadow {:extra-paths ["test"]
                    :extra-deps {thheller/shadow-cljs {:mvn/version "2.20.20"}}}}}
