{:paths ["src", "resources"]
 :deps {com.google.javascript/closure-compiler-unshaded {:mvn/version "v20230103"}
        metosin/malli {:mvn/version "0.12.0"}
        org.babashka/sci {:mvn/version "0.8.40"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        s-expresso/rubberbuf {:local/root "../rubberbuf"}
       ;;  s-expresso/rubberbuf {:git/url "https://github.com/s-expresso/rubberbuf.git"
       ;;                        :git/sha "08a8b87147ebe679a404e011178f7366c97ec5b6"
       ;;                        :git/tag "v0.1.9"}
        s-expresso/clojobuf-codec {:git/url "https://github.com/s-expresso/clojobuf-codec.git"
                                   :git/sha "9503c903ebcb8d09b183b7c6349f765e98f1dcbc"
                                   :git/tag "v0.1.5"}}
 :aliases {:test {:extra-paths ["test"]}

           ; clj -M:test:runner
           :runner {:extra-deps {io.github.cognitect-labs/test-runner
                                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                  :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
                    :main-opts ["-m" "cognitect.test-runner"]
                    :exec-fn cognitect.test-runner.api/test}

           ; clj -M:test:cljs to run cljs tests
           :cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                  :main-opts ["-m" "cljs-test-runner.main"]}}}
